body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.img{
    margin-top: 10px;
}
.orange-color{
    color: rgb(37, 14, 245);
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.Flexiable-container{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
    padding-left: 20px;
    
}
.hire{
    color: rgb(0, 0, 0);
    background-image:linear-gradient(rgb(209, 44, 250), rgb(38, 130, 236));
    transition-duration: 5s;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    
}
.hire:hover{
    padding: 10px 30px;
    background-image:linear-gradient(rgb(40, 51, 206), rgb(10, 178, 255));
    color: white;
    margin-left: 40px;
    margin-bottom: 50px;
    
}
.color-1{
    color: rgb(212, 143, 14);
}
#text{
    text-align: justify;
}

.dream{
    width: 50%;
    padding-right: 40px;
}
.dream img{
    width: 80%;
   
}
#para-2{
    text-align: justify;
}
.fullstack-p{
    text-align: justify;
}
.portfolio{
    color: rgb(0, 0, 0);
    background-image:linear-gradient(rgb(13, 188, 231), rgb(153, 153, 153));
    transition-duration: 5s;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
}
.portfolio:hover{

    padding: 10px 30px;
    background-image:linear-gradient(rgb(255, 13, 53), rgb(243, 173, 21));
    color: white;
    margin-left: 40px;
    margin-bottom: 50px;
}
.exp{
    box-shadow: 10px 15px 30px 8px gray;
    margin: 60px;
    padding: 60px;
    border-radius: 40px;
    border-left: 10px solid red;

}
#xyz{
    padding-left: 45vw;
}
#ppp{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}